body{
    color:red ;
    text-align: center;
    font-family: 'Arial';
    font-size: 36px;
    margin: 0;
    padding: 0; 

}

#cabecera{

    background: #33A;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0,0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}

#cabecera #tagline{
    margin: 0,0,0, 1em;
    font-weight: normal;
}

#container h1{
    font-size: 20px;
} 